function Game.new 1
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 48
pop this 1
push constant 64
pop this 2
push pointer 0
call Game.establishRules 1
pop temp 0
push this 2
push this 1
call World.new 2
pop this 0
push this 0
call World.draw 1
pop temp 0
push pointer 0
call Controller.new 1
pop local 0
push pointer 0
return
function Game.advanceGeneration 5
push argument 0
pop pointer 0
push this 2
push this 1
call World.new 2
pop local 4
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push this 1
lt
not
if-goto WHILE_END1
push pointer 0
push local 0
push local 1
call Game.countNeighbours 3
pop local 2
push this 0
push local 0
push local 1
call World.getCell 3
push local 2
push this 4
add
pop pointer 1
push that 0
and
push local 2
push this 3
add
pop pointer 1
push that 0
or
pop local 3
push local 4
push local 0
push local 1
push local 3
call World.setCell 4
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
call World.dispose 1
pop temp 0
push local 4
pop this 0
push this 0
call World.draw 1
pop temp 0
push constant 0
return
function Game.countNeighbours 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push argument 1
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push argument 1
push constant 1
sub
push argument 2
push constant 1
sub
call World.getCell 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 1
add
pop local 0
label IF_FALSE2
label IF_FALSE1
push this 0
push argument 1
push constant 1
sub
push argument 2
call World.getCell 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push constant 1
add
pop local 0
label IF_FALSE3
push argument 2
push this 1
push constant 1
sub
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push argument 1
push constant 1
sub
push argument 2
push constant 1
add
call World.getCell 3
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
push constant 1
add
pop local 0
label IF_FALSE5
label IF_FALSE4
label IF_FALSE0
push argument 1
push this 2
push constant 1
sub
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push argument 2
push constant 0
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 0
push argument 1
push constant 1
add
push argument 2
push constant 1
sub
call World.getCell 3
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 0
push constant 1
add
pop local 0
label IF_FALSE8
label IF_FALSE7
push this 0
push argument 1
push constant 1
add
push argument 2
call World.getCell 3
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 0
push constant 1
add
pop local 0
label IF_FALSE9
push argument 2
push this 1
push constant 1
sub
lt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 0
push argument 1
push constant 1
add
push argument 2
push constant 1
add
call World.getCell 3
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 0
push constant 1
add
pop local 0
label IF_FALSE11
label IF_FALSE10
label IF_FALSE6
push argument 2
push constant 0
gt
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 0
push argument 1
push argument 2
push constant 1
sub
call World.getCell 3
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push local 0
push constant 1
add
pop local 0
label IF_FALSE13
label IF_FALSE12
push argument 2
push this 1
push constant 1
sub
lt
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 0
push argument 1
push argument 2
push constant 1
add
call World.getCell 3
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push local 0
push constant 1
add
pop local 0
label IF_FALSE15
label IF_FALSE14
push local 0
return
function Game.advanceCatalogue 0
push argument 0
pop pointer 0
push this 0
call Catalogue.advanceCatalogue 1
pop temp 0
push this 0
call World.draw 1
pop temp 0
push constant 0
return
function Game.getWidth 0
push argument 0
pop pointer 0
push this 2
return
function Game.getHeight 0
push argument 0
pop pointer 0
push this 1
return
function Game.setShowCursor 0
push argument 0
pop pointer 0
push this 0
push argument 1
call World.setShowCursor 2
pop temp 0
push constant 0
return
function Game.setCursor 0
push argument 0
pop pointer 0
push this 0
push argument 1
push argument 2
call World.setCursor 3
pop temp 0
push constant 0
return
function Game.draw 0
push argument 0
pop pointer 0
push this 0
call World.draw 1
pop temp 0
push constant 0
return
function Game.flipCell 0
push argument 0
pop pointer 0
push this 0
push argument 1
push argument 2
call World.flipCell 3
pop temp 0
push constant 0
return
function Game.clear 0
push argument 0
pop pointer 0
push this 0
call World.clear 1
pop temp 0
push this 0
call World.draw 1
pop temp 0
push constant 0
return
function Game.establishRules 0
push argument 0
pop pointer 0
push constant 9
call Array.new 1
pop this 3
push constant 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 3
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
call Array.new 1
pop this 4
push constant 0
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 4
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 4
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
